@model List<st_WebOrria.Models.Jokalariak>

@{
    ViewBag.Title = "Ranking";
}

@section Scripts {
    <!-- JQuery-ren CDN-a gehitzen da -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {

            // Datuak eskuratzeko AJAX deia egiten da
            $.get("http://10.23.28.190:8012/lortu_datuak", function (response) {
                var data = response.Jokalariak;
                console.log(data);

                var posizioa = 0;

                // Jokalariak iteratzeko buklea
                data.forEach(function (jokalaria) {
                    posizioa++;

                    if (posizioa > 10) {

                        // Buklea bukatu
                        return false;

                    }
                    else {

                        if (posizioa > 0 && posizioa < 4) {

                            // Irudiaren URL-a eraikitzen Url.Content erabiliz
                            var irudia = '@Url.Content("~/irudiak/Top")' + posizioa + '.png';

                            // Taula errenkadak sortu
                            var row = "<tr><td><img style='width: 50px;' src='" + irudia + "'></td><td>" + jokalaria.izena + 
                            "</td><td>" + jokalaria.abizena + "</td><td>" + jokalaria.puntuaketa + "</td></tr>";
                            $("tbody").append(row);

                        } else {

                            // Taula errenkadak sortu
                            var row = "<tr><td>" + posizioa + "</td><td>" + jokalaria.izena + "</td><td>" + jokalaria.abizena + 
                            "</td><td>" + jokalaria.puntuaketa + "</td></tr>";
                            $("tbody").append(row);

                        }

                    }

                });

            });

        });
    </script>

}

<!-- CSS estilua gehitzen da -->
<link rel="stylesheet" href="~/assets/css/ollie.css">

<!-- HTML erakuslearen interfazea -->
<div class="container mt-5" style="text-align: center;">
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- Taularen izenburua -->
            <h1>JOKALARIAK RANKING</h1>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Taula definitzen da -->
        <table class="table">
            <thead>
                <tr>
                    <!-- Taularen goiburuko errenkaden izenak -->
                    <th>Posizioa</th>
                    <th>Izena</th>
                    <th>Abizena</th>
                    <th>Puntuak</th>
                </tr>
            </thead>
            <!-- Taularen gorputza -->
            <tbody>
            </tbody>
        </table>
    </div>
</div>
