@{
    ViewData["Title"] = "Proiektuak";
}

<link rel="stylesheet" href="~/assets/css/ollie.css">

<div class="text-center">
    <h1 class="display-4">Proiektuak</h1>
    <p>ASP.NET Core bidez Web aplikazioak eraikitzea ikasi <a href="https://learn.microsoft.com/aspnet/core">hemen</a>.</p>
</div>
