@model List<st_WebOrria.Models.Jokalariak>

@{
    ViewBag.Title = "Ranking";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {

            $.get("http://10.23.28.190:8012/lortu_datuak", function (response) {
                var data = response.Jokalariak; // Accede a la propiedad 'Jokalariak'
                console.log(data);

                var posizioa = 0;

                data.forEach(function (jokalaria) {
                    console.log(jokalaria); // Imprime el objeto para depuración
                    posizioa++;
                    var row = "<tr><td>" + posizioa + "</td><td>" + jokalaria[1] + "</td><td>" + jokalaria[2] + "</td><td>" + jokalaria[4] + "</td></tr>";
                    $("tbody").append(row);
                });
            });

        });
    </script>
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Ranking de Jokalariak</h1>
        </div>
    </div>

    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Posizioa</th>
                    <th>Izena</th>
                    <th>Abizena</th>
                    <th>Puntuak</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
