@{
    ViewData["Title"] = "Proiektuak";
}

<link rel="stylesheet" href="~/assets/css/ollie.css">

<div>
    
    <img class="card-img-top" style="padding: 1% !important;" src="~/irudiak/mantenua.png">

</div>
