<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Karaktere-kodea -->
    <meta charset="utf-8" />
    <!-- Pantailaren neurria -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Orrialdearen izena -->
    <title>@ViewData["Title"] - SwiftTech</title>
    <!-- Bootstrap estiloa -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Orriaren estilo pertsonalizatua -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- SwiftTech Web Orria estiloak -->
    <link rel="stylesheet" href="~/st_WebOrria.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Goiburua -->
    <header>
        <!-- Nabigazio-barra -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <!-- Kontainerra -->
            <div class="container-fluid">
                <!-- Logoa -->
                <img src="~/irudiak/logoaa.png" style="height: 5%;width: 5%;margin-right: 10px" />

                <!-- Nabigazioa togleatzeko botoia -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Nabigazio-menua -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Nabigazio-zerrenda -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!-- Hasiera orria -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hasiera">Hasiera</a>
                        </li>
                        <li class="nav-item">
                            <!-- Proiektuak orria -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Proiektuak">Proiektuak</a>
                        </li>
                        <li class="nav-item">
                            <!-- Ranking orria -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <!-- Kontaktua orria -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Kontaktua">Kontaktua</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Eduki nagusia -->
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Tartea errendatu -->
            @RenderBody()
        </main>
    </div>

    <!-- Oina -->
    <footer class="border-top footer text-muted" style="text-align: center">
        <!-- Kontainerra -->
        <div class="container">
            <!-- Kopiraketa -->
            &copy; 2024 - SwiftTech Web Orri Ofiziala - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Javascriptak -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Beste scriptak -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
